/* ---------------------- BASIC + LOGIN VIEW ------------------------ */
body {
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.container{
    display: block;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding-top: 8em;
    padding-bottom: 4em;
}

.loginStrava {
    background-color: #8CBD9C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.loginStrava img {
    width:100px;
    height: auto;
    margin-top: 200px;
    align-self: center;
}

.loginStrava a {
    background-color: white;
    width: 200px;
    align-self: center;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin-top: 50px;
    text-decoration: none;
}

.loginStrava a p {
    text-decoration: none;
    color: #90C8C8;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-top: 5px;
}

.loginStrava a img {
    width: 100px;
    height: 20px;
    margin-top: 2px;
    margin-left: 15px;
}

.nav {
    background-color: #8CBD9C ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}

.nav a.profile-logo {
    display: none;
}

.nav a.logout {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
}

.nav a.logout img{
    display: block;
    width: 35px;
    height: 35px;
}


.footer {
    width: 100%;
    height: 70px;
    background-color: #8CBD9C ;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: block;
}

.footer a.profile-logo {
    display: block;
    width: 20vw;
    height: 20vw;
    position: absolute;
    bottom: 15px;
    left: 40vw;
}

.footer img {
    display: block;
    width: 100%;
    height: 100%;
}

/* --------------------- PROFILE ----------------------- */

.profile{
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -50px;
    margin-bottom: 60px;
}

.profile img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
    border: 15px solid #FCF0BB;
}

.profile h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 20px;
}

.profile #logout {

    color: white;
    background-color: #FCF0BB;
    text-decoration: none;
    font-size:0.8em;
    padding: 2%;
    border-radius: 10px;
}

.goals {

    width: 100%;
    height: 100px;

    background-color: #9db4e0;

}

.goals h3 {

    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;

    text-align: center;
    padding-top: 20px;
}

.goals p {

    color: white;

    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
}



/* ----------------- VIEW RUN - - PARTIAL LAYOUT RUN ----------------------- */

#distance, #time, #kcal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#date {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#date h1 {

    color: darkgray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.2em;
}

#date img {

    width: 100px;
    height: 100px;
    background-color: #1b6d85;
}

#info {

    margin-top: 20px;
}

#info h3 {

    color: darkgray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1em;
}

/* ---------------------- FRIENDS --------------------------- */

.friends h2, .friendsprofile h2, .latestruns h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 50px;
}

.friends ul li {
    display: flex;
    width: 25%;
    flex-direction: row;
    margin: 15px auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #FDF0BC;
    border-radius: 15px;
    overflow:hidden;
}

.friends ul li img {
    display: block;
    width: 60px;
    height: 60px;
    margin-top:10px;
    justify-self:flex-start;
    border-radius: 50%;
    margin-left: 25px;
    border: 10px solid white;
}

.friends ul li a
{
    position: relative;
    text-align: center;
    color: white;
}

.friends ul li a.friendslink {
    text-decoration: none;
    font-size: 1em;
    color: #A9A9A9;
    text-transform: uppercase;
    padding-top: 10px;
}

.friends ul li a.friendslink:hover {
    color: #8CBD9C;
}

.friendsprofile img{
    display: block;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 15px auto;
    border: 10px solid #FDF0BC;
}

/* ------------- BADGES ----------------- */
.badges {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}

.badges h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 20px;
}

.badges h4 {
    width: 80%;
    margin-left: 10%;
    font-size: 0.8em;
}

.badges .badges_filled {
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.badges .badge {
    display: block;
    width: 30%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.badges .badge p {
    text-transform: uppercase;
    color: darkgray;
    font-size: 0.6em;
    letter-spacing: 0.1em;
}

.badges .badges_filled img {
    width: 85px;
    height: 85px;
    margin: 5px auto;
}

.badges .badge_unfilled {
    opacity: 0.3;
}

.badges .badge_filled {
    opacity: 1;
}

/* ------------- ACHIEVEMENTS ----------------------- */

.latestruns {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}


.run {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #FCF0BB;
    padding: 20px;
}

.run #date h1 {

    font-size: 1em;
    color: #1b6d85;
    text-align: center;
}

.run #info {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.run #info h3{
    color: #2ab27b;
}

.mapsactivity {
    width: 200px;
    height: 200px;
    margin: 25px auto;
    border: 5px solid #FCF0BB;
    box-sizing: border-box;
}

/* ------------------ FRONTPAGE - - PROFILE --------------------------- */

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.tile  {
    width: 50%;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.tile a {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.friends a {
    width: 35%;
    /*margin-top: -10px;*/
}

.tile a img {
    display: block;
    width: 100%;
    height: 100%;
}

.tile h1 {
    color:white;
    text-align: center;
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
}

.friends h1 {
    color: #9db4e0;
}

.miles h1 {
    color: #9db4e0;
}

.miles {
    background-color: white;
}

.runs {
    background-color: #FDF0BC;
}

.achiev {
    background-color: #8CBD9C;
}



.btn
{
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
   /* width:100px;
    height:30px;*/
    overflow: hidden;
    font-weight:bold;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    cursor:pointer;

    margin-left:25px;
    justify-self:flex-end;
}

.btn-follow
{
    background-color: #9db4e0;
    color: white;
}

.btn-unfollow
{
    background-color: #EEEEEE;
    color: #9db4e0;
}

.name
{
    height:25px;
    width:80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 35%;
    left:21%;
    text-overflow:ellipsis;
}

@media screen and (min-width: 750px) {
    .nav a.profile-logo {
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10px;
        left: 35px;
    }

    .nav a.profile-logo img {
        display: block;
        width: 100px;
        height: 100px;
    }

    .footer a.profile-logo {
        display: none;
    }

    .tiles {
        justify-content: space-around;
    }

    .tile {
        width: 20vw;
        height: 10em;
    }

    .badges .badges_filled {
        width: 70%;
    }

    .badges .badges_filled img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 750px) {

}










