html{
    background-color: gainsboro;
}

body {
    width: 350px;
    margin: 0px auto;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.container{
    display: block;
    width:350px;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding-top: 8em;
    padding-bottom: 5em;
}

.loginStrava {
    background-color: #8CBD9C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.loginStrava img {
    width:100px;
    height: auto;
    margin-top: 200px;
    align-self: center;
}

.loginStrava a {
    background-color: white;
    width: 200px;
    align-self: center;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin-top: 50px;
    text-decoration: none;
}

.loginStrava a p {
    text-decoration: none;
    color: #90C8C8;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-top: 5px;
}

.loginStrava a img {
    width: 100px;
    height: 20px;
    margin-top: 2px;
    margin-left: 15px;
}

.nav {
    background-color: #8CBD9C ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top:0;
    width: 350px;
    z-index: 10;
}

.footer img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

.nav a.settings {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 75px;
}

.nav a.settings img{
    display: block;
    width: 35px;
    height: 35px;
}

.footer a.friends, .footer a.ach {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 15px;
}

.footer a.friends img, .footer a.ach img{
    display: block;
    width: 35px;
    height: 35px;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #8CBD9C ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    /*top: 88%;*/
    bottom: 0;
    width: 350px;
    z-index: 10;
}

.profile{
    display: block;
    width: 350px;
    text-align: center;
    position: relative;
    margin-top: -50px;
    margin-bottom: 60px;
}

.profile img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
    border: 15px solid #FCF0BB;
}

.profile h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 20px;
}

.profile #logout {

    color: white;
    background-color: #FCF0BB;
    text-decoration: none;
    font-size:0.8em;
    padding: 2%;
    border-radius: 10px;
}


.goal {

    display: flex;
    flex-direction: row;
    background-color: #8EBDBD;
    height: 150px;
}

.goal_logo {

    display: flex;
    flex-direction: column;
}

.goal .goal_logo img {

    width: 50px;
    height: auto;
    margin-top: -90px;
    margin-left: 35px;

}

.goal .goal_logo #bg_goal {

    width: 120px;
    height: 120px;
    background-color: #8EBDBD;
    border-radius: 100px;
    margin-top: -60px;

}

.goal .goal_logo p {

    font-size: 0.6em;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.goal .goal_logo h3 {

    font-size: 1.8em;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.goal .text_goal {

    text-align: center;
    color: white;
    margin-top: 50px;
}


.achievement {

    display: flex;
    flex-direction: row;
    background-color:#8CBD9C;
    height: 180px;

}
.achiev_logo {

    display: flex;
    flex-direction: column;


}

.achievement .achiev_logo #bg_achiev {

    width: 120px;
    height: 120px;
    background-color: #8CBD9C;
    border-radius: 100px;
    margin-top: -60px;

}

.achievement .achiev_logo img {

    width: 50px;
    height: auto;
    margin-top: -90px;
    margin-left: 35px;
}

.achievement .text_achiev h3 {

    text-align: right;
    color: white;
    margin-top: 50px;
    font-size: 1.4em;
}

.achievement .text_achiev p {

    text-align: right;
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 38px;
}

.chron {

    display: flex;
    flex-direction: row;
    background-color: #8EBDBD;
    height: 150px;
}

.chron_logo {

    display: flex;
    flex-direction: column;
}

.chron .chron_logo img {

    width: 50px;
    height: auto;
    margin-top: -90px;
    margin-left: 35px;

}

.chron .chron_logo #bg_chron {

    width: 120px;
    height: 120px;
    background-color: #8EBDBD;
    border-radius: 100px;
    margin-top: -60px;

}

.chron .chron_logo p {

    font-size: 0.6em;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.chron .chron_logo h3 {

    font-size: 1em;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.chron .text_chron {

    color: white;
    margin-top: 50px;
}

.chron .text_chron p {

    font-size: 0.6em;
    color: white;
    margin-left: 5px;
    text-align: left;

}

.chron .text_chron h3{

    font-size: 2em;
    margin-top: 20px;
}

.badges {

    display: block;
    width: 350px;
    text-align: center;
    position: relative;

}

.badges h2 {

    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 20px;
}

.badges p {

    width: 80%;
    margin-left: 10%;
    font-size: 0.8em;
}

.badges .badges_filled {

    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.badges .badges_filled img {

    width: 85px;
    height: 85px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.badges .badge_unfilled {
    opacity: 0.3;
}

.badges .badge_filled {
    opacity: 1;
}

.run {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#distance, #time, #kcal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#date {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#date h1 {

    color: darkgray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.2em;
}

#date img {

    width: 100px;
    height: 100px;
    background-color: #1b6d85;
}

#info {

    margin-top: 20px;
}

#info h3 {

    color: darkgray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1em;
}

.friends h2, .friendsprofile h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkgray;
    margin-bottom: 20px;
}

.friends ul li {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px auto;
    border-bottom: 1px solid #8CBD9C;
    padding-bottom: 10px;
}

.friends ul li img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 5px solid #FDF0BC;
}

.friends ul li a.friendslink {
    text-decoration: none;
    color: #8CBD9C;
    text-transform: uppercase;
    padding-top: 15px;
}

.friends ul li a.friendslink:hover {
    color: #A9A9A9;
}

.friendsprofile img{
    display: block;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 15px auto;
    border: 10px solid #FDF0BC;
}

.badges a {

    text-decoration: none;
}

#linkAchievements p  {

    background-color: #FDF0BC;
    height: 25px;
    padding-top: 15px;
    color: #1b6d85;
    font-size: 0.8em;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#linkBadges p  {

    background-color: #FDF0BC;
    height: 25px;
    padding-top: 15px;
    color: #1b6d85;
    font-size: 0.8em;
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 50px;
}










